# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backup branches
dev.bundle
main.bundle

# Brand logo
logo.png

# pwa-asset-generator logo.png icons -i ./index.html -m ./manifest.json -o false -b "rgb(72, 72, 72)" -t png -w true -a "%PUBLIC_URL%"